@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i");

:root {
    --font-size-1: 33.57px;
    --font-size-2: 26.86px;
    --font-size-3: 21.48px;
    --font-size-4: 17.19px;

    --font-size-small: 11px;
}

html, body{
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-weight: 300;
}

p, ul, ol{
		margin: 0 0 1rem 0;
    padding: 0;
}

h1{font-size: var(--font-size-1);}
h2{font-size: var(--font-size-2);}
h3{font-size: var(--font-size-3);}
h3{font-size: var(--font-size-4);}
h4{font-size: var(--font-size-4);}
h5{font-size: var(--font-size-4);}

h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
		line-height: 1.375;
		letter-spacing: -0.05em;
		margin: 0 0 1rem 0;
}


.outline-2 > h2{
    text-align: center;
}

.outline-3{
    border-bottom: 1px solid #CCC;
    display: flex;
}

.outline-3 > h3{
    flex: 40%;
}

.outline-text-3{
    flex: 60%;
}

img{
    max-width: 100%;
}


/* Responsive content positioning */
@media only screen and (min-width: 750px) /* Large screens */
{
    .outline-3{
        margin: 2vh 10vw;
    }

}

@media only screen and (max-width: 750px) /* Small screens */
{
    .outline-3{
        margin: 2vh 2vw;
    }
}
